.schoolInfo{
    display: flex;
    position: relative;
    border-bottom: 1px solid black;
    line-height: 1.8;
    padding-bottom: 15px;
}

.schoolInfo_submit{
    display: block;
}

.schoolInfo:has(input){
    display: flex;
    position: relative;
    flex-flow: column nowrap;
}

.schoolInfo_input{
    margin-bottom: 5px;
}

.schoolInfo_input:nth-child(2){
    margin: 25px 0 5px;
}

.schoolInfo p:first-child{
    font-weight: bold;
}

.schoolInfo p:nth-child(3){
    color: gray;
}

.schoolInfo_deleteButton {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 0px 6px;
    border-radius: 98%;
    line-height: 1.4;
    border: 1px red solid;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 13px;
}

.academicSection_list{
    position: relative;
    list-style-type:none;
    font-size: 18px;
    padding: 0;
    margin: 0 15px;
    margin-bottom: 20px;
}

.academicSection_container{
    margin-top: 15px;
}

.academicList_addButton{
    margin-left: 15px;
    font-size: 18px;
}