.careerObjective {
}

.careerObjective > p {
  font-size: 18px;
  margin: 0 15px;
}

.careerObjective > textarea {
    display: block;
    font-size: 18px;
    width: 95%;
    min-height: 50px;
    resize: none;
    overflow: hidden;
    margin: 0 auto;
}

